*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15%;
    width: 100%;
    background-color: #3347B0;
}

.cabecalho{
    height: 80%;
    width: 100%;
    display:flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 3%;
    margin-right: 3%;
}

header button{
    background-color: transparent;
    border: none;
    height: 45%;
}

header button:hover{
    transform: translateY(-2px);
}

main{
    background-color: white;
    height: 65%;
    width: 100%;
    display: flex;
    padding: 2%;
    flex: 1;
}

.tela1{
    display: flex;
    height: 100%;
    width: 100%;
}

.container1{
    height: 100%;
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container1 .frase{
    display: flex;
    font-size: large;
    width: 50%;
    margin: 3%;
}

.frase span {
    color: #3347B0;
}

.container1 .dispositivos img{
    height: 100%;
    width: auto;
}

.container2{
    height: 100%;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container2 img{
    height: 90%;
    width: auto;
}
.container3{
    height: 100%;
    width: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 3%;
}

.container3 button{
    background-color: #3347B0;
    height: 45%;
    width: 80%;
    box-shadow: 5px 5px 10px #6B7EF5;
    border: 1px solid black;
    color: white;
}

.container3 div{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    gap: 5%;
}

.container3 button :hover{
    transform: translateY(-2px);
}

.container3 button h1{
    margin-top: 25%;
}

.container3 img{
    height: 60%;
    width: auto;
}

.tela2{
    background-color: brown;
    display: flex;
    flex-direction: column;
    gap: 30px;
    min-height: 100vh;
    width: 100%;
}

.titulo{
    height: 10%;
    display: flex;
    justify-content: center;
    font-size: x-large;
}

.alunos {
    background-color: green;
    display: flex;
    flex-wrap: wrap;
    padding: 1%;
    gap: 5%;
    flex-grow: 1; 
    height: auto; 
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #3347B0;
    border-radius: 5px;
    height: 40%;
    width: 15%; 
    padding: 1%;
    margin-bottom: 20px;
    gap: 5%;
}

.card img{
    height: 80%;
    width: auto;
    border-radius: 50%;
}

footer{
    height: 20%;
    width: 100%;
    background-color: #3347B0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 4%;
}

.contatos{
    display: flex;
    flex-direction: column;
    height: 90%;
    width: 20%;
    justify-content: space-between;
    align-items: center;
}

.contatos div{
    display: flex;
    align-items: center;
    height: 30%;
    width: 100%;
    gap: 3%;
}

.contatos img{
    height: 70%;
    width: auto;
}

.contatos h3{
    margin-top: 7%;
}

.copyright{
    height: 20%;
}

.redesSociais{
    height: 90%;
    width: 16%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.redesSociais img{
    height: 35%;
    width: auto;
}